  body {
    background-color: #ffb4b4;
  }

  h1 {
    color: black;
    font-size:xx-large
  }
  
  h2 {
    color: black;
    font-size:larger;
    margin-top: 30px;
    }
  
  p {
    color: black;
    font-size:larger;
    line-height:normal;
  }
  
  label {
    display:block;
    margin-top: 20px;
    font-size:large;
  }

  br {
    margin-top: 20px;
  }
  a{
    padding: 0;
    margin-top: 20px;
  }
  
  button.roundedbutton {
    color: #f2efef;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: larger;
    margin-top: 20px;
    cursor: pointer;
  }
  
  button.roundedbutton:hover {
    background-color: rgb(21, 114, 221);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    color:black;
    font-size:larger;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  li a {
    color:black;
    text-decoration: none;
  }
  
  li a:hover {
    color:rgb(23, 74, 152);
    text-decoration: underline;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border:solid;
  }
  
  th {
    color:aqua;
    background-color: #6c2626;
  }
